<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029144392867-n48qgg7oihn8ij46ai55sklg48itupei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029144392867-n48qgg7oihn8ij46ai55sklg48itupei</string>
	<key>API_KEY</key>
	<string>AIzaSyCl6zHyKmQZw2CdVmuq3Ra-nsoOJ1F7xKE</string>
	<key>GCM_SENDER_ID</key>
	<string>1029144392867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.subScriptionApp</string>
	<key>PROJECT_ID</key>
	<string>sub-sc-app-230415</string>
	<key>STORAGE_BUCKET</key>
	<string>sub-sc-app-230415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029144392867:ios:ea791804f397227b463b16</string>
</dict>
</plist>